@keyframes shadow-increaser {
   0% {
      box-shadow: 0 0 2px 2px rgb(0,102,102);
   }
   5% {
      box-shadow: 0 0 2px 2px rgb(0,102,102);
   }
   10% {
      box-shadow: 0 0 4px 2px rgb(0,102,102);
   }
   15% {
      box-shadow: 0 0 6px 2px rgb(0,102,102);
   }
   20% {
      box-shadow: 0 0 8px 2px rgb(0,102,102);
   }
   25% {
      box-shadow: 0 0 10px 2px rgb(0,102,102);
   }
   30% {
      box-shadow: 0 0 12px 2px rgb(0,102,102);
   }
   35% {
      box-shadow: 0 0 14px 2px rgb(0,102,102);
   }
   40% {
      box-shadow: 0 0 16px 2px rgb(0,102,102);
   }
   45% {
      box-shadow: 0 0 18px 2px rgb(0,102,102);
   }
   50% {
      box-shadow: 0 0 20px 2px rgb(0,102,102);
   }
   55% {
      box-shadow: 0 0 18px 2px rgb(0,102,102);
   }
   60% {
      box-shadow: 0 0 16px 2px rgb(0,102,102);
   }
   65% {
      box-shadow: 0 0 14px 2px rgb(0,102,102);
   }
   70% {
      box-shadow: 0 0 12px 2px rgb(0,102,102);
   }
   75% {
      box-shadow: 0 0 10px 2px rgb(0,102,102);
   }
   80% {
      box-shadow: 0 0 8px 2px rgb(0,102,102);
   }
   85% {
      box-shadow: 0 0 6px 2px rgb(0,102,102);
   }
   90% {
      box-shadow: 0 0 4px 2px rgb(0,102,102);
   }
   95% {
      box-shadow: 0 0 2px 2px rgb(0,102,102);
   }
   100% {
      box-shadow: 0 0 2px 2px rgb(0,102,102);
   }
}

.box-shadow-animation {
   animation-name: shadow-increaser;
   animation-duration: 1.8s;
   animation-timing-function: ease-in-out;
   animation-delay: 0s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-fill-mode: none;
   animation-play-state: running;
   background-color: #011a16;
   border: 2px solid #26b4a1;
   border-radius: 10px;
   opactiy: 92%;
}
